body {
  font-family:'Open Sans', sans-serif;
}
#menu {
  height: 100px;
  margin: auto;
  text-align: center;
}
#name {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
#items {
  padding-top: 15px;
  font-size: 15px;
}
#container {
  padding-top: 30px;
  width: 80%;
  margin: auto;
}
#rectangle{
  width: 50%;
  height: 200px;
  margin: 10px auto 10px auto;
  padding: 25px;
  border: 2px solid black;
  background-color: rgb(255,255,255);
}
#name {
  max-width: 250px;
  margin: auto;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
