body {
  font-family:'Open Sans', sans-serif;
}
#menu {
  height: 100px;
  margin: auto;
  text-align: center;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight:300; 
  letter-spacing: .025em; 
  color: #333333;  
}
#name {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
#items {
  padding-top: 15px;
  font-size: 15px;
}
#container {
  padding-top: 30px;
  width: 80%;
  margin: auto;	  
  font-size: 30px;
  line-height: 1.14815;
  font-weight: 400;
  letter-spacing: .008em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;  
}
#title {
  padding-top: 30px;	
  width: 80%;
  margin: auto;	
  font-size: 72px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#caption {
  font-size:10px;
  text-align: center;
}
#name {
  max-width: 250px;
  margin: auto;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  width: 50%;
  margin: auto;
  text-align: center;
}
