<!DOCTYPE html>
<html>
  <head>
    <title>Vance Padmore</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/gallery.css">
    <style>
    html {
      background: url(../../media/image/24.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
    </style>
  </head>
  <body>

    <div id="menu">
      <div id="menu-outer">
        <div class="table">
          <ul id="horizontal-list">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="gallery_1.html" style="text-decoration:underline;">Photos</a></li>
            <li><a href="../videos/video_1.html">Videos</a></li>
            <li><a href="../contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <table id="arrows">
      <tbody>
        <tr valign="left">
          <td width="50%" align="left">
            <a href="gallery_23.html" class="previous">
              ←
            </a>
          </td>
          <td width="50%" align="right">
            <a href="gallery_25.html" class="next">
              →
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
