<!DOCTYPE html>
<html>
  <head>
    <title>Vance Padmore</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/video.css">

  </head>
  <body>
    <video playsinline autoplay loop class="bgvid">
    <source src="../../media/video/CC.mp4" type="video/mp4">
    </video>
    <div id="menu">
      <div id="menu-outer">
        <div class="table">
          <ul id="horizontal-list">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../images/gallery_1.html">Photos</a></li>
            <li><a href="video_1.html" style="text-decoration:underline;">Videos</a></li>
            <li><a href="../contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <table id="arrows">
      <tbody>
        <tr valign="left">
          <td width="50%" align="left">
            <a href="video_1.html" class="previous">
              ←
            </a>
          </td>
          <td width="50%" align="right">
            <a href="video_3.html" class="next">
              →
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
