<!DOCTYPE html>
<html>
  <head>
    <title>Vance Padmore</title>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" type="text/css" href="../css/about.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="headline">
        <h1>
          Bio
        </h1>
      </div>
      <div id="text"><br><br><br>
        They say--simplicity is the ultimate sophistication. A simple guy raised in Brooklyn, who has traveled the world and ate a lot of burgers. Along the way I've shot some film photography, and produced some music videos. One more thing! I'm not smart. I just wear glasses.
      </div>
    </div>
    <div id="menu">
      <div id="menu-outer">
        <div class="table">
          <ul id="horizontal-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="about.html" style="text-decoration:underline;">About</a></li>
            <li><a href="images/gallery_1.html">Photos</a></li>
            <li><a href="videos/video_1.html">Videos</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
