<!DOCTYPE html>
<html>
  <head>
    <title>Vance Padmore</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/contact.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="headline">
        <h1>
          Contact
        </h1>
      </div>
      <div id="text"><br><br><br>
        email: vancepadmore@me.com <br>
        Phone: +1-347-236-9700<br>
        Instagram: @vancepadmore
      </div>
    </div>

    <div id="menu">
      <div id="menu-outer">
        <div class="table">
          <ul id="horizontal-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="images/gallery_1.html">Photos</a></li>
            <li><a href="videos/video_1.html">Videos</a></li>
            <li><a href="contact.html" style="text-decoration:underline;">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
